<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=devide-width, inital-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">

	<title> BlogApp </title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>
</html>
